<!DOCTYPE html>
<html>
<body>
    <h1>Welcome <%= username %>,</h1>
    <p>Thanks for onboarding, please verify your email by clicking the link below</p>
    <p>Link : <%= verificationLink %></p>
</body>
</html>
